apiVersion: v1
kind: ConfigMap
metadata:
    name: sabnzbd-conf
    namespace: default
data:
    sabnzbd.ini: |
        __version__ = 19
        __encoding__ = utf-8
        [misc]
        pre_script = None
        queue_complete = ""
        queue_complete_pers = 0
        bandwidth_perc = 90
        refresh_rate = 4
        interface_settings = '{"dateFormat":"YYYY-MM-DD HH:mm","extraQueueColumns":["category","processing"],"extraHistoryColumns":["category"],"displayCompact":false,"displayFullWidth":true,"displayTabbed":true,"confirmDeleteQueue":true,"confirmDeleteHistory":true,"keyboardShortcuts":true}'
        queue_limit = 30
        config_lock = 0
        fixed_ports = 1
        sched_converted = 0
        notified_new_skin = 2
        direct_unpack_tested = 1
        check_new_rel = 1
        auto_browser = 0
        language = en
        enable_https_verification = 1
        host = ::
        port = 8080
        https_port = ""
        username = beheerder
        password = Pand0ra!
        bandwidth_max = 800M
        cache_limit = 1G
        web_dir = Glitter
        web_color = Night
        https_cert = server.cert
        https_key = server.key
        https_chain = ""
        enable_https = 0
        inet_exposure = 0
        api_key = 7d1cb40d5c884c6a99778f2dc8b9228c
        nzb_key = 6b2fdfb82a9343d5b434642863362859
        socks5_proxy_url = ""
        permissions = 777
        download_dir = /downloads/usenet/incomplete
        download_free = 8G
        complete_dir = /downloads/complete
        complete_free = 8G
        fulldisk_autoresume = 1
        script_dir = /downloads/usenet/scripts
        nzb_backup_dir = ""
        admin_dir = /downloads/usenet/admin
        backup_dir = "/downloads/usenet/backup"
        dirscan_dir = /downloads/watched
        dirscan_speed = 8
        password_file = /downloads/usenet/passwords
        log_dir = /downloads/usenet/logs
        max_art_tries = 3
        load_balancing = 2
        top_only = 0
        sfv_check = 1
        script_can_fail = 0
        enable_recursive = 1
        flat_unpack = 0
        par_option = ""
        pre_check = 0
        nice = ""
        win_process_prio = 3
        ionice = ""
        fail_hopeless_jobs = 1
        fast_fail = 1
        auto_disconnect = 1
        no_dupes = 0
        no_series_dupes = 0
        series_propercheck = 1
        pause_on_pwrar = 1
        ignore_samples = 1
        deobfuscate_final_filenames = 0
        auto_sort = ""
        direct_unpack = 1
        propagation_delay = 0
        folder_rename = 1
        replace_spaces = 1
        replace_underscores = 1
        replace_dots = 0
        safe_postproc = 0
        pause_on_post_processing = 0
        enable_all_par = 1
        sanitize_safe = 0
        cleanup_list = ,
        unwanted_extensions = ,
        action_on_unwanted_extensions = 0
        unwanted_extensions_mode = 0
        new_nzb_on_failure = 0
        history_retention = 0
        quota_size = ""
        quota_day = ""
        quota_resume = 0
        quota_period = m
        enable_tv_sorting = 0
        tv_sort_string = ""
        tv_categories = tv,
        enable_movie_sorting = 0
        movie_sort_string = ""
        movie_sort_extra = -cd%1
        movie_categories = movies,
        enable_date_sorting = 0
        date_sort_string = ""
        date_categories = tv,
        schedlines = ,
        rss_rate = 60
        ampm = 0
        start_paused = 0
        preserve_paused_state = 0
        enable_par_cleanup = 1
        erocess_unpacked_par2 = 1
        enable_unrar = 1
        enable_unzip = 1
        enable_7zip = 1
        enable_filejoin = 1
        enable_tsjoin = 1
        overwrite_files = 0
        ignore_unrar_dates = 0
        backup_for_duplicates = 1
        empty_postproc = 1
        wait_for_dfolder = 0
        rss_filenames = 0
        api_logging = 1
        html_login = 1
        warn_dupl_jobs = 1
        helpful_warnings = 1
        keep_awake = 1
        tray_icon = 1
        allow_incomplete_nzb = 0
        enable_broadcast = 1
        ipv6_hosting = 0
        api_warnings = 1
        no_penalties = 0
        x_frame_options = 1
        allow_old_ssl_tls = 0
        rss_odd_titles = nzbindex.nl/, nzbindex.com/, nzbclub.com/
        quick_check_ext_ignore = nfo sfv, srr
        req_completion_rate = 100.2
        selftest_host = self-test.sabnzbd.org
        movie_rename_limit = 100M
        episode_rename_limit = 20M
        size_limit = 0
        direct_unpack_threads = 3
        history_limit = 10
        wait_ext_drive = 5
        max_foldername_length = 246
        nomedia_marker = ""
        ipv6_servers = 1
        url_base = /sabnzbd
        host_whitelist = sabnzbd-0, nzb.moerman.online
        local_ranges = ,
        max_url_retries = 10
        downloader_sleep_time = 10
        num_simd_decoders = 2
        ssdp_broadcast_interval = 15
        ext_rename_ignore = ,
        email_server = ""
        email_to = ,
        email_from = ""
        email_account = ""
        email_pwd = ""
        email_endjob = 0
        email_full = 0
        email_dir = ""
        email_rss = 0
        email_cats = *,
        [logging]
        log_level = 1
        max_log_size = 5242880
        log_backups = 3
        [ntfosd]
        ntfosd_enable = 1
        ntfosd_cats = *,
        ntfosd_prio_startup = 1
        ntfosd_prio_download = 0
        ntfosd_prio_pause_resume = 0
        ntfosd_prio_pp = 0
        ntfosd_prio_complete = 1
        ntfosd_prio_failed = 1
        ntfosd_prio_disk_full = 1
        ntfosd_prio_new_login = 0
        ntfosd_prio_warning = 0
        ntfosd_prio_error = 0
        ntfosd_prio_queue_done = 1
        ntfosd_prio_other = 1
        [servers]
        [[news.eweka.nl]]
        name = news.eweka.nl
        displayname = news.eweka.nl
        host = news.eweka.nl
        port = 119
        timeout = 60
        username = noppes666
        password = Pandora1
        connections = 50
        ssl = 0
        ssl_verify = 2
        ssl_ciphers = ""
        enable = 1
        required = 0
        optional = 0
        retention = 0
        expire_date = ""
        quota = ""
        usage_at_start = 0
        send_group = 0
        priority = 0
        notes = ""
        [categories]
        [[*]]
        name = *
        order = 0
        pp = 3
        script = None
        dir = ""
        newzbin = ""
        priority = 0
        [[audio]]
        name = audio
        order = 0
        pp = ""
        script = Default
        dir = ""
        newzbin = ""
        priority = -100
        [[software]]
        name = software
        order = 0
        pp = ""
        script = Default
        dir = ""
        newzbin = ""
        priority = -100
        [[tv]]
        name = tv
        order = 0
        pp = 3
        script = nzbToSickBeard.py
        dir = ""
        newzbin = ""
        priority = -100
        [[movies]]
        name = movies
        order = 0
        pp = 2
        script = nzbToMedia.py
        dir = ""
        newzbin = ""
        priority = -100
